@model IEnumerable<Bik_app.Models.Product>

@{
    ViewData["Title"] = "Home Page";
}
<link href="~/lib/datatables/css/jquery.dataTables.min.css" rel="stylesheet" />
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Ürün Tablosu</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Anasayfa</a></li>
                        <li class="breadcrumb-item active">Ürün Tablosu</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">

                            <div style="float:right;">
                                <a class="btn btn-success text-white" asp-controller="Home" asp-action="AddProduct">Ürün Ekleme</a>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="productTable" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Alt Kategori ID</th>
                                        <th>Ürün Numarası</th>
                                        <th>Ürün Adı</th>
                                        <th>İşlemler</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @item.ProductSubcategoryId
                                            </td>
                                            <td>
                                                @item.ProductNumber
                                            </td>
                                            <td>
                                                @item.Name
                                            </td>
                                            <td>
                                                <a class="btn btn-primary text-white" asp-controller="Home" asp-action="EditProduct" asp-route-id="@item.ProductId">Ürün Güncelleme</a>
                                                @*<input type="button" value="Sil" class="btn btn-danger" onclick="deleteProduct('@item.ProductId')" />*@
                                                <a class="btn btn-danger deleteProduct" title="Sil" href="#" data-id="@item.ProductId" role="button"><i class="fa fa-trash"></i></a>
                                                @*<button type="button" onclick="deleteConfirm(@item.ProductId)" class="btn btn-default">
                                                    Sil
                                                    </button>*@

                                                @*<form asp-controller="Home" asp-action="DeleteProduct" asp-route-id="@item.ProductId" method="post" style="display:contents;">

                                                    <button type="submit" class="btn btn-danger btn-primary">Ürün Silme</button>


                                                    </form>*@
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Alt Kategori ID</th>
                                        <th>Ürün Numarası</th>
                                        <th>Ürün Adı</th>
                                        <th>İşlemler</th>
                                    </tr>
                                </tfoot>
                            </table>
                            @*<div class="modal fade" id="modal-default">
                                <div class="modal-dialog">
                                <div class="modal-content">
                                <div class="modal-header">
                                <h4 class="modal-title"><strong id="deletedValueName"></strong> ürününü silmek istediğinize emin misiniz?</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-footer justify-content-between">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Vazgeç</button>
                                <button type="button" class="btn btn-danger" onclick="deleteProduct()">Ürünü Sil</button>
                                </div>
                                </div>
                                </div>
                                </div>*@
                        </div>
                        <!-- /.card-body -->
                    </div>

                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
@section Scripts
{
<!-- Page specific script -->
<script>
    $(function () {
        $("#productTable").DataTable({
            "paging": true,
            "responsive": true,
            "lengthChange": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "buttons": ["excel", "pdf"]
        }).buttons().container().appendTo('#productTable_wrapper .col-md-6:eq(0)');
    });
</script>
<script>
    $('.deleteProduct').on('click', function () {
            var that = $(this);
            bootbox.confirm({
                message: "Ürünü silmek istediğinize emin misiniz?",
                buttons: {
                    confirm: {
                        label: 'Sil',
                        className: 'btn-danger'
                    },
                    cancel: {
                        label: 'Vazgeç',
                        className: 'btn-primary'
                    }
                },
                callback: function (result) {
                    if (result) {
                        $.ajax({
                            url: "/Home/DeleteProduct/" + that.data('id'),
                            type: "POST",
                            contentType: "application/json;charset=UTF-8",
                            dataType: "json",
                            success: function (result) {
                                toastr.success(
                                  'Ürün Başarıyla Silindi!',
                                  'Sayfa yenileniyor.',
                                  {
                                    timeOut: 3000,
                                    fadeOut: 3000,
                                    onHidden: function () {
                                        window.location.reload();
                                      }
                                  }
                                );
                            },
                            error: function (errormessage) {
                                    $('.toastrDefaultError').click(function() {
                                      toastr.error('Ürün Eklenemedi.!')
                                    });
                            }
                        });
                    }
                     else {

                    }
                }
            });
        });
</script>

<script>
    $(document).ready(function () {
        $('#customerDatatable').dataTable({

        });
    });
</script>
}

