@model IEnumerable<Bik_app.Models.Product>

@{
    ViewData["Title"] = "Home Page";
}
<link href="~/lib/datatables/css/jquery.dataTables.min.css" rel="stylesheet" />
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Ürün Tablosu</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Anasayfa</a></li>
                        <li class="breadcrumb-item active">Ürün Tablosu</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            
                            <div style="float:right;">
                                <a class="btn btn-success text-white" asp-controller="Home" asp-action="AddProduct">Ürün Ekleme</a>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Alt Kategori ID</th>
                                        <th>Ürün Numarası</th>
                                        <th>Ürün Adı</th>
                                        <th>İşlemler</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>
                                            @item.ProductSubcategoryId
                                        </td>
                                        <td>
                                            @item.ProductNumber
                                        </td>
                                        <td>
                                            @item.Name
                                        </td>
                                        <td>
                                            <a class="btn btn-primary text-white" asp-controller="Home" asp-action="EditProduct" asp-route-id="@item.ProductId">Ürün Güncelleme</a>
                                            <form asp-controller="Home" asp-action="DeleteProduct" asp-route-id="@item.ProductId" method="post" style="display:contents;">
                                                
                                                <button type="submit" class="btn btn-danger btn-primary">Ürün Silme</button>    
                                                
                                                
                                            </form>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Alt Kategori ID</th>
                                        <th>Ürün Numarası</th>
                                        <th>Ürün Adı</th>
                                        <th>İşlemler</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->




@section Scripts
{
    <!-- Page specific script -->
    <script>
        $(function () {
            $("#example1").DataTable({
                "paging": true,
                "responsive": true,
                "lengthChange": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "buttons": ["excel", "pdf"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#customerDatatable').dataTable({

            });
        });
    </script>
    @*<script src="~/lib/datatables/js/jquery.js"></script>
        <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>*@
}

